<header>
  <div id="top-header">
    <span class="siteName"><a href="/">CSE Motors</a></span>
    <span id="tools">
      <% if (loggedin) { %>
        <span class="welcome">
          <a href="/account" title="Go to Account Management">Welcome <%= firstname %></a> |
        </span>
        <a href="/account/logout" title="Logout">Logout</a>
      <% } else { %>
        <a href="/account/login" title="Click to login or register">My Account</a>
      <% } %>
    </span>
  </div>
  <nav>
    <%- nav %>
  </nav>
</header>
