body {
  margin: 0;
}

#top-header {
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: black;
}

span.siteName a {
  font-size: 2rem;
  margin-left: 4px;
}

#tools {
  float: right;
}

#tools a {
  transform: translate(-4px, -30px);
  text-transform: uppercase;
  font-size: 16px;
  margin:20px;
}

nav {
  background-color: black;
  color: white;
  margin-top: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul, .hero ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 1rem 0;
}

main {
  font-size: 14px;
  margin: 8px;
}

h1 {
  font-size: 1.15rem;
  text-align: left;
  margin-top: 1.5rem;
}

.home-header {
  text-align: left;
}


.hero {
  position: relative;
}

.hero-img {
  display: flex;
  width: 80%;
  margin: auto;
}

.hero h2 {
  font-size: 1.1rem;
}

.call-to-action {
  background-color: rgba(255, 255, 255, 0.8);
  color: #4c96d7;
  position: absolute;
  top: 5px;
  left: 5px;
}

.call-to-action h2 {
  margin: 0;
}

.call-to-action ul {
  display: block;
  padding: 0;
  margin: 0 0 2px;
}
.call-to-action button {
  padding: 0;
  border: none;
  width: 100px;
  height: 30px;
}

button img {
  width: 100%;
}

h2 {
  font-size: 1.15rem;
}

.reviews {
  margin: 25px 0;
}

.reviews h2 {
  margin-bottom: 8px;
}

.reviews ul {
  padding-left: 18px;
  line-height: 1.65rem;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.upgrades h2 {
  grid-column: 1/3;
}

.upgrades img {
  display: flex;
  width: 60px;
  height: auto;
  margin: auto;
}

.upgrade-img {
  display: flex;
  background-color: #4c96d7;
  height: 80px;
  width: 95%;
  border: 1px solid black;
  margin: auto;
}

.upgrades a {
  text-align: center;
}

.capacitor, .decal, .bumper-sticker, .hub-cap {
  margin-bottom: 1.5rem;
  text-align: center;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  gap: 1rem;
  grid-column: 1/3;
  justify-content: center;
  padding: 0;
  padding-bottom: 1rem;
}

#inv-display ul {
  align-items: center;
}

#inv-display li {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;
  box-shadow: 2px 2px 6px black;
  text-align: center;
  border-radius: 20px;
  border: 2px solid gray;
  width: 250px;
  font-size: 1rem;
}

#inv-display hr {
  border: none;
  border-top: 4px solid black;
  margin: 10px auto;
  width: 90%;
}

#inv-display h2 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

#inv-display h2 a {
  color: #0040ff;
  text-decoration: underline;
  font-weight: bold;
}

#inv-display span {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-top: 0.25rem;
}

/*********************************
  Vehicle Detail Pages
*********************************/
#vehicle-details {
  width: 90%;
  margin: auto;
}

#vehicle-details img {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

#vehicle-details h1{
  font-size: 1.35rem;
  text-align: left;
}

#vehicle-details h2 {
  font-size: 1.10rem;
}

.vehicle-summary {
  padding: 1rem 0;
  margin: auto;
}

.vehicle-summary p {
  padding: 0.25rem 1rem;
}

.vehicle-summary p:nth-of-type(odd) {
  background-color: rgb(237, 236, 236);
  padding: 1rem;
}

.copyright {
  padding: 15px;
  margin: 0;
}

/****************
Error link and page
****************/

.error-link {
  padding: 15px;
}

#error-title {
  text-align: left;
  font-size: 2rem;
}

#error-message {
  font-size: 1.5rem;
  margin: 0;
  grid-column: 1/3;
  margin-bottom: 19rem;
}

/*******************
Login Form
*******************/
.login {
  background-color: #0492C3;
  color: white;
  padding: 2rem;
  width: clamp(300px, 90%, 400px);
  margin: 2rem auto;
  border-radius: 12px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border: 2px solid white;
}

.login-inner {
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: black;
  font-size: 1.3rem;
}

.login input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
  color: black;
}

.login small {
  font-style: italic;
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
  color: black;
  margin-bottom: 1rem;
}

.login .show-password {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: fit-content;
}

.login button[type="submit"] {
  background-color: white;
  color: black;
  border: none;
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login button:hover {
  transform: translateY(-3px);
}

.login p {
  text-align: center;
  margin-top: 1.5rem;
  color: black;
  font-size: 1.3rem;
}

.login a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, select:required:invalid {
  background-color: #ffffff;
}

input:required:valid, textarea:required:valid, select:required:valid {
  background-color: lightgreen;
}

/*******************
Register Form
*******************/
.register {
  background-color: #0492C3;
  color: white;
  padding: 2rem;
  width: clamp(300px, 90%, 400px);
  margin: 2rem auto;
  border-radius: 12px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border: 2px solid white;
}

.register-inner {
  border: 1px solid white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register label {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: black;
  font-size: 1.3rem;
}

.register input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
  color: black;
}

.register small {
  font-style: italic;
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
  color: black;
  margin-bottom: 1rem;
}

.register .show-password {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: fit-content;
}

.register button[type="submit"] {
  background-color: white;
  color: black;
  border: none;
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.register button:hover {
  transform: translateY(-3px);
}

.register h2 {
  font-style: italic;
  font-size: 1.1rem;
  color: black;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.notice {
  color: rgb(190, 0, 0);
}

.success {
  background-color: rgb(150, 201, 150)
}

.inventory-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.management-links {
  list-style-type: none;
}

.management-links a {
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  margin: 0.5rem 0;
}

h1.classification, h1.inventory {
  font-size: 1.5rem;
}

.new-classification label {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.new-classification, .new-inventory {
  background-color: #0492C3;
  width: 50%;            
  min-width: 200px;      
  max-width: 500px;
  margin: auto;
  padding-bottom: 0.5rem;
}

.new-classification form, .new-inventory form {
  border: 1px solid white;
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.new-classification form button, .new-inventory form button {
  width: 125px;
  margin: 1rem 0;
  background-color: white
}

.new-classification label, .new-classification input {
  margin: 1rem 0;
}
.new-inventory label{
  margin-top: 1rem;
}

.new-classification p, .new-inventory p {
  margin-left: 1rem;
}

.account-title, .management-title {
  text-align: left;
  font-size: 2rem;
}

.edit-account button {
  margin-top: 10px; 
}

@media (min-width: 800px) { 
  html {
    background-image: url("../images/site/small_check.jpg");
  }

  main {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  body {
    background-color: white;
    border: 4px solid #4c96d7;
    margin: 1rem auto;
    width: 85%;
    border-radius: 10px;
  }

  nav ul {
    padding: 0.5rem 0;
  }

  #wrapper {
    margin: 10px;
  }

  span.siteName a {
    margin-top: 2px;
    transform: translateY(-10px);
  }

  nav a {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2, .call-to-action h2 {
    font-size: 1.65rem;
  }

  .call-to-action {
    margin-left: 2.5rem;
    margin-top: 1.5rem;
  }

  .call-to-action li {
    font-size: 1.4rem;
  }

  .call-to-action button {
    display: flex;
    margin: 1.5rem auto 0;
    width: 150px;
    height: 45px;
  }

  .hero-img {
    width: 65%;
  }

  h1, .hero {
    grid-column: 1/3;
  }

  .reviews {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0 auto;
    width: 95%;
  }

  .reviews ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    margin: 0;
    line-height: 1rem;
  }

  .upgrades {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  /*********************************
    Vehicle Detail Pages
  *********************************/
  #vehicle-details {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  #vehicle-details h1, #vehicle-details img {
    grid-column: 1/2;
  }

  #vehicle-details h1 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
  }

  #vehicle-details img {
    margin: 1rem 0 0;
    width: 95%;
    padding-top: 0;
  }

  #vehicle-summary {
    grid-column: 2/3;
  }

  .vehicle-summary p {
    padding: 0.25rem 0.5rem;
  }

  .vehicle-summary p:nth-of-type(odd) {
    padding: 1rem 0.5rem;
  }

  .copyright {
    margin-top: 3rem;
  }

  /**********************
  Login/Register form
  **********************/
  .login, .register {
    grid-column: 1/3;
  }

  .new-classification, .new-inventory {
    grid-column: 1/3;
  }

  .account-management, 
  .edit-account, 
  .vehicle-management {
    grid-column: 1/3;
  }


  #messages {
    display: grid;
    grid-column: 1/3;
  }
}

@media (max-width: 799px) {

  h1 {
    font-size: 1.6rem;
  }

  .management-links li a {
    font-size: 1rem; /* Aumenta el tamaño de los links */
  }

  .management-links li {
    margin-bottom: 0.75rem; /* Espaciado entre enlaces si quieres */
  }
}
